    <div>
        <v-row justify="center" align="center">
            <v-col cols="12" sm="8" md="6" >
                <v-card>
                    <v-card-title class="headline">
                        Movie List 
                        <v-spacer></v-spacer>
                        <v-btn small fab color="primary" @click="getMovieList">
                            <v-icon>mdi-refresh</v-icon>
                        </v-btn>
                    </v-card-title>
                    
                </v-card>
            </v-col>
        </v-row>
        <v-row justify="center" align="center">
            <v-col cols="12" sm="8" md="6">
                <div class="text-center">
                    <MovieTableSearch @show-search-list="getSearchResult"></MovieTableSearch>
                    <MovieTable :movieList="movieList" :movieData = "movieData" :loading = "loading" @update-table="updateTable"></MovieTable>
                    <MovieTablePage @show-page-list="getPageMovieList" :pageData = "pageData"></MovieTablePage>
                </div>
            </v-col>
        </v-row>
    </div>